img {
    height: 40%;
    width: 40%;
}
h1 {
    font-size: 40;
    color: aliceblue;
    background-color: black;
    margin: 15px;
    padding: 10px;
}
h2{
    font-size: 26pt;
    font-weight: 100;
}
h3 {
    font-size: 22pt;
    position: relative;
}
*{
    background-color: rgb(8, 85, 8);
}
p{
    width: 500px;
    font-size: 20pt;
}
.column{
    float: left;
    width: 25%;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}